<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher</title>
    <style>
        form{
            padding: 50px;
            
        }
        table{
            border: 2px solid black;
            box-shadow: 5px 10px red ;
        }
    </style>
</head>
<body>

    <form action="Login" method="POST">
        {% csrf_token %}
        <table align="center">
            <tr>
                <td>UserName</td>
                <td><input type="text" name='uname' required></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name='pword' required></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Login"></td>
            </tr>
        </table>
        </form>
</body>
</html>